# Dependency directory
node_modules

# Build Path of Test Fixtures
test/**/public
.DS_Store

# IDE specific
.vscode/
.idea/

# Package managers
yarn.lock
package-lock.json
service-account.json

/*.js
!index.js
!.babelrc.js